.add-todo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
        outline: unset;
        padding: 0.4rem 0.8rem;
        font-size: 1.6rem;
    }

    button {
        display: flex;
        align-items: center;
        border: unset;
        background-color: white;
        transition: all 300ms ease-in-out;

        &:hover {
            cursor: pointer;
        }

        .submit-icon {
            font-size: 3.2rem;
        }
    }
}
