.app {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__todos-container {
        width: 40rem;
        padding: 1.2rem;
        border: 1px solid black;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        &__no-todos {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.6rem;
        }
    }
}
